<!-- <p>login works!</p> -->

<!-- <div> -->
    <!-- <h2>Login</h2> -->
    <!-- data:{{DataLogin}} -->
    <!-- <input type="button" value="Send" (click)="Send()"> 
  </div>-->


  <div class="maindiv">

    <div >
        <div >
          <label>Name</label>
        </div>
        <input type="text"  [(ngModel)]="name">
    </div>

    <div >
        <div >
          <label>Age</label>
        </div>
        <input type="text"  [(ngModel)]="age">
    </div>

    <div >
        <input type="button" value="Add" (click)="Add()">
    </div>

</div>
  
