/* You can add global styles to this file, and also import other style files */

div{
    background-color: lightpink;
    text-align: center;
    width: 50%  auto;
    margin: 10px auto;
}

table{
    border: 1px solid black;
    width: 50%  auto;
    text-align: center;
    margin: 10px auto;

}
th,tr,td{
    border: 1px solid black;
    text-align: center;
    margin: 10px auto;

}